<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.READ_CALL_LOG" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.CAMERA" />

<queries>
    <package android:name="com.anydesk.anydeskandroid" />
    <package android:name="com.teamviewer.quicksupport.market" />
</queries>
